db:
  image: postgres:11
  restart: on-failure
  container_name: orders_db
  ports:
    - "5432:5432"
  environment:
    POSTGRES_DB: delivery
    POSTGRES_USER: root
    POSTGRES_PASSWORD: root
  volumes:
    - dbdata:/var/lib/postgresql/data
